body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.section-org {
  padding: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-org>h3 {
  font-family: 'Prata';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #6278F7;
  display: inline-block;
  padding-bottom: 8px;
}

.section-org>span {
  margin-left: 350px;
}